.bbs-select-box {
  border: 1px solid black;
  padding: 0 16px;
  max-width: 600px;
}
.bbs-select-title {
  font-size: 1.1rem;
}
.bbs-select-icon {
  padding: 4px;
  font-size: 1.5rem;
  font-weight: 600;
}
.bbs-select-icon:hover {
  cursor: pointer;
}
.title-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.bbs-select-box ul {
  list-style-type: none;
  margin: 16px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.bbs-select-box ul li {
  text-align: left;
}
.notice-bbs-select-row::before {
  content: "· ";
}

.post-date {
  color: #666;
  float: right;
  min-width: 85px;
}
.bbs-select-box + .bbs-select-box {
  margin-top: 16px;
}

/* 리뷰박스 스타일 통합 */
.review-bbs-row {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
  border-bottom: 1px solid #888;
  margin-bottom: 8px;
}
.avatar {
  width: 38px;
  height: 38px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-text-box {
  max-width: 90%;
  text-overflow: ellipsis;
  height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
}
