@media screen and (max-width: 970px) {
  header ul {
    display: none;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .menuBar {
    display: block;
  }
  main {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 82vh;
  }
  main iframe {
    width: 100%;
    height: 400px;
  }
  .right {
    margin-left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .right ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }
  .right ul li {
    width: 400px;
  }
  .right ul li + li {
    margin-top: 0;
    margin-left: 16px;
  }
  .thumbnail {
    object-fit: cover;
  }

  .right li:hover .infoBox {
    transform: translateY(-205px);
  }
  .officeInfo {
    display: none;
  }
}
