:root {
  --menu-color: #797979;
}
html {
  height: 100%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 16px 0 0 0;
}
li {
  text-align: center;
  width: 100%;
}
.menu-list li {
  color: var(--menu-color);
  font-weight: 600;
  font-size: 14px;
}
.menu-list li:hover {
  cursor: pointer;
}
.collapse {
  width: 100%;
  display: flex;
  font-size: 12px;
}
.collapse li div:hover {
  border-bottom: 2px solid darkblue;
  cursor: pointer;
}
.collapse li div + div {
  margin-top: 8px;
}
