:root {
  --select-hover-color: #74c0fc;
}
#quickSelectSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.quick-select-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  box-shadow: 1px 1px 10px #ddd;
}
.quick-select-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 32px;
  transition: 0.5s;
}
.quick-select-box + .quick-select-box {
  border-left: 1px solid black;
}
.menu-name {
  text-align: center;
  margin-left: 16px;
  white-space: nowrap;
}
.quick-select-box:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: none;
}

@media screen and (max-width: 800px) {
  #quickSelectSection {
    flex-direction: column;
  }
  .quick-select-list {
    width: 100%;
    flex-direction: column;
  }
  .quick-select-box {
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #ddd;
  }
  .quick-select-box + .quick-select-box {
    border: none;
  }
}
@media screen and (min-width: 800px) {
  .quick-select-box:hover {
    background: var(--select-hover-color);
  }
}
