@keyframes signAnimation {
  0% {
    transform: translateX(30%);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showLogoBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
